:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --navy-blue-color: #2e2f42;
  --corn-flower-color: #e7e9fc;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --ocean-color: #404bbf;
}

body {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--slate-color);
  background: var(--white-color);
}

.link {
  text-decoration: none;
}
.default {
  list-style-type: none;
}

.nav-items {
  color: var(--navy-blue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-items:hover,
.nav-items:focus {
  color: var(--ocean-color);
}

.address {
  font-style: normal;
  color: var(--slate-color);
}
.address:hover,
.address:focus {
  color: var(--ocean-color);
}

.logo {
  color: var(--iris-color);
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio-footer {
  color: var(--cloud-color);
}
.logo-studio-header {
  color: var(--navy-blue-color);
}

.hero-section {
  background: var(--navy-blue-color);
  color: var(--white-color);
  text-align: center;
}
.hero-section-header {
  font-size: 56px;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}
.order-service-bttn {
  background: var(--iris-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: var(--text-font-family);
}
.order-service-bttn:hover,
.order-service-bttn:focus {
  background: var(--ocean-color);
}

.section-title {
  color: var(--navy-blue-color);
  text-align: center;
  font-size: 36px;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.items-title {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.our-team-section {
  background: var(--cloud-color);
}
.our-team-cards {
  background: var(--white-color);
  text-align: center;
}

.filter-button {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
  color: var(--iris-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--ocean-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
}

.footer {
  background: var(--navy-blue-color);
  color: var(--cloud-color);
}
